@import 'tailwindcss'; 

html, body, #root {
  height: 100%;
  margin: 0;  
  padding: 0; 
  background-color: #000;
  color: #fff;
}

body {
  background-color: linear-gradient(to bottom right, #000000, #8B5CF6, #4C1D95);
  background-attachment: fixed;
  background-size: cover;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.fade-in-out {
  animation: fadeInOut 4s infinite; 
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(10px); 
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

